<!doctype html>
<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/components/polymer.min.js"></script>
</head>
<body>
	<polymer-element name="repo-list">
		<template>
			<style>
				.help {
					font-style: italic;
					margin: 16px 8px;
					padding: 8px;
					border: 1px solid black;
					font-size: 0.9em;
				}
				.loading {
					color: white;
					background: black;
				}
				span.name.needpush, span.name.dirty {
					color: red;
				}
				span.name {
					color: green;
				}
				span.ab {
					font-style: italic;
				}
				span.needpush {
					font-weight: bold;
				}
				div.status {
					margin: 8px;
					padding: 8px;
					border: 1px solid black;
				}
			</style>
			<h1>{{root}}</h1>
			<div class="help">
				<span style="color:green">Green</span> = all good!<br>
				<span style="color:red">Red</span> = uncommitted/unpushed<br>
				<span style="color:red;font-weight:bold">Bold</span> = unpushed<br>
				* = Has uncommitted changes<br>
				+ = Has untracked files<br>
				Click for git status
			</div>
			<div class="loading" hidden?="{{repos.length > 0}}">
				Loading...
			</div>
			<template repeat="{{repos}}">
				<div on-tap="{{toggleAction}}">
					<span class="name {{ {needpush: ahead > 0, dirty: !clean} | tokenList}}">{{path}}</span>
					<template if="{{!clean}}">*</template>
					<template if="{{untracked}}">+</template>
					<template if="{{ahead > 0 || behind > 0}}">
						<span class="ab">(<span class="{{ {needpush: ahead > 0} | tokenList}}">+{{ahead}} to push</span>/-{{behind}} behind)</span>
					</template>
				</div>
				<template if="{{!clean}}">
					<div class="status" hidden?="{{!expanded}}">
						<pre>{{status}}</pre>
					</div>
				</template>
			</template>
		</template>
		<script>
			Polymer('repo-list', {
				loading: true,
				root: ##ROOT##,
				repos: [],
				ready: function() {
					this.socket = io.connect('http://localhost');
					this.socket.on('status', this.statusAction.bind(this));
					this.socket.emit('scan', {root: this.root});
				},
				statusAction: function(status) {
					if (Array.isArray(status)) {
						this.repos = status;
					} else {
						var found = false;
						for (var i = 0, r; r = this.repos[i]; i++) {
							if (r.path === status.path) {
								for (key in status) {
									r[key] = status[key];
								}
								found = true;
								break;
							}
						}
						if (!found) {
							this.repos.push(status);
						}
					}
				},
				toggleAction: function(e, detail, sender) {
					var model = sender.templateInstance.model;
					model.expanded = !model.expanded;
				}
			});
		</script>
	</polymer-element>
	<repo-list></repo-list>
</body>
</html>